# Dependencies
node_modules
pnpm-lock.yaml

# Build outputs
.next
out
build
dist

# Environment files
.env
.env.local
.env.*.local

# Misc
.DS_Store
*.log
coverage
.turbo

# Files
next-env.d.ts
package-lock.json
yarn.lock